// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#total{
	
	margin-left:230px;
}
#purchase{
	margin-left:230px;
}
#thanks{
	text-align:center
}