// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    padding: 15px;
    text-align: left;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.button_to,
.button_to div {
	display: inline;
}
